<div class="pictures">
    <h1>Favorites</h1>
    <ul ng-repeat="picData in favoritePics">
        <li><img src="{{ picData.url }}" alt="{{ picData.title }}"> </li>
        <li>{{ picData.desc }}</li>
        <!--<li><button ng-click="deleteFav(picData._id)">No Fav</button></li>-->
        <li class="heartFilled" ng-click="deleteFav(picData._id)">
        </li>
    </ul>
</div>

<!--
<div class="modal-body">
    <div class="img-group">
        <carousel>
            <slide ng-repeat="picData in favoritePics" active="thumb.active">
                <img ng-src="{{picData.url}}" alt="{{picData.title}}" class="img-responsive pic" />
                <div class="carousel-caption-dark">{{picData.title}}</div>
            </slide>
        </carousel>
        <button type="button" class="close close-lg" ng-click="ok()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
</div>-->
