<!-- Small modal -->
<div ng-show="saveFav">
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                Saved to Favorites
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Cat Pictures <small>...that's what the Internet is for, no?</small></h2>
            <p>Start searching now..</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="text" ng-model="search.text">
            <button ng-click="searchForPics()">Search</button>
        </div>
    </div>
</div>